extends ../layout.pug
block contenido
  p Hola #{user.email}
  for imagen in imagenes
    div(class="img-container")
      h2=imagen.titulo
      img(src="/public/images/#{imagen._id}.#{imagen.extension}")
      if(typeof imagen.creator != "undefined")
        p Por (#{imagen.creator.email})
